# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Arquivos de ambiente
.env
*.env

# IDEs
.idea/
.vscode/
*.swp